/* HEADER STYLES */

.nav.navbar-nav.navbar-right button {
	padding-top: 15px; 
}

.page-content {
	padding-top: 65px;
}


/* RECIPIENTS */

.recipient-data-container{
	padding-left: 35px;
}

/* RECIPIENT INFO */
.recipient-info-panel {
	background-color: #F8F8F8;
	padding: 0 15px;
	border-radius: 5px;
	padding-bottom: 10px;
}

.recipient-info-row {
	padding: 10px 0;
}

.recipient-info-row:first-child {
	border-bottom: 1px solid #E3E3E3; 
}

.recipient-info-panel h4 {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

.recipient-info-panel ul {
	padding: 0;
	list-style: none;
}

.contact-info-table th{
	width: 120px;
}

.payment-info-table th{
	width: 160px;
}


/* TEAM PAYOUTS */

.team-info-list {
	padding: 0;
	box-sizing: border-box;
}

.team-info-item {
	list-style: none;
	display: inline-block;
	padding: 5px 20px;
	border-right: 2px solid #E7E7E7;	
}

.team-info-item:first-child {
	padding-left: 0;
}

.team-info-item:last-child,
.team-info-item:first-child {
	border: none;
}

.team-info-item:first-child {
	padding-right: 0; 
}

.team-info-name {
	min-width: 300px;
}

.status-icon {
	font-size: 1.75em;
}

.processed-status-icon {
	color: #3C763D;
}

.unprocessed-status-icon {
	color: #A94442;
}

/* LABELS */

.label {
	float: right;
	vertical-align: text-top;
}

.payouts-total-lable {
	position: absolute;
	top: 0;
	right: 25px;
}